name: Build Project

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64, x86]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies (React)
        run: npm install

      - name: Build React
        run: npm run build

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build Backend (Rust)
        run: cargo build --verbose
        working-directory: backend/

  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        target: [x64, x86]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies (React)
        run: npm install

      - name: Build React
        run: npm run build

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build Backend (Rust)
        run: cargo build --verbose
        working-directory: backend/

  macos:
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies (React)
        run: npm install

      - name: Build React
        run: npm run build

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build
        run: cargo build --verbose
        working-directory: backend/

  cuda:
    name: Build with CUDA support
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Install Dependencies (React)
        run: npm install

      - name: Build React
        run: npm run build

      - uses: Jimver/cuda-toolkit@v0.2.11
        name: Install CUDA toolkit on Linux
        if: matrix.os == 'ubuntu-latest'
        id: cuda-toolkit-linux
        with:
          cuda: "12.2.0"
          method: "network"
          non-cuda-sub-packages: '["libcublas","libcublas-dev"]'
          sub-packages: '["nvcc","compiler","libraries","libraries-dev","cudart","cudart-dev"]'

      - uses: Jimver/cuda-toolkit@v0.2.11
        name: Install CUDA toolkit on Windows
        if: matrix.os == 'windows-latest'
        id: cuda-toolkit-windows
        with:
          cuda: "12.2.0"
          method: "local"

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build with CUDA
        run: cargo build --verbose --features cublas
        working-directory: backend/

  metal:
    name: Build with Metal support
    runs-on: macos-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies (React)
        run: npm install

      - name: Build React
        run: npm run build

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build with Metal
        run: cargo build --verbose --features metal
        working-directory: backend/

  opencl:
    name: Build with OpenCL support
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      
      - name: Install Dependencies (React)
        run: npm install

      - name: Build React
        run: npm run build

      - name: Install CLBlast on linux
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt install libclblast-dev

      - name: Install vcpkg on windows
        if: matrix.os == 'windows-latest'
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          cd vcpkg
          ./bootstrap-vcpkg.sh
          ls -la
        shell: bash

      - name: Install OpenCL on windows
        if: matrix.os == 'windows-latest'
        run: |
          ${{ github.workspace }}\vcpkg\vcpkg.exe install opencl:x64-windows
        shell: pwsh
      
      - name: Install CLBlast on windows
        if: matrix.os == 'windows-latest'
        run: |
          ${{ github.workspace }}\vcpkg\vcpkg.exe install clblast:x64-windows
        shell: pwsh
      
      - name: Set Windows Environment Variables
        if: matrix.os == 'windows-latest'
        run: |
          echo "CLBLAST_PATH=${{ github.workspace }}/vcpkg/packages/clblast_x64-windows" >> $GITHUB_ENV
          echo "OPENCL_PATH=${{ github.workspace }}/vcpkg/packages/opencl_x64-windows" >> $GITHUB_ENV
          echo "${{ github.workspace }}/vcpkg/packages/clblast_x64-windows/bin" >> $GITHUB_PATH
          echo "${{ github.workspace }}/vcpkg/packages/opencl_x64-windows/bin" >> $GITHUB_PATH
        shell: bash

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Build with OpenCL
        run: cargo build --verbose --features clblast
        working-directory: backend/
